@font-face {
    font-family: "battleship-font";
    src:
      url("../assets/battleship.woff2") format("woff2"),
      url("../assets/battleship.woff") format("woff");
}

@font-face {
    font-family: "scoreboard";
    src:
      url("../assets/score.woff2") format("woff2"),
      url("../assets/score.woff") format("woff");
}