#play {
  display: flex;
  justify-content: center;
}

#doneBtn {
  align-self: center;
}

.gameboards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#left,
#right {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#player-grid,
#computer-grid {
  display: grid;
  grid-template-columns: repeat(10, 45px);
  grid-template-rows: repeat(10, 45px);
  margin-bottom: 50px;

  & > div {
    height: 45px;
    width: 45px;
    outline: 1px dashed white;
  }

  & > div:hover {
    background-color: white;
  }
}

@media only screen and (max-width: 950px) {
  .gameboards {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  #player-grid,
  #computer-grid {
      grid-template-columns: repeat(10, 35px);
      grid-template-rows: repeat(10, 35px);
      & > div {
          height: 35px;
          width: 35px;
      }
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 450px) {
  #player-grid,
  #computer-grid {
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    & > div {
      height: 30px;
      width: 30px;
    }
  }
}