.gameboards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#left,
#right {
  padding: 20px;
//   background-color: rgba(98, 104, 185, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#player-grid,
#computer-grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);

  & > div {
    height: 40px;
    width: 40px;
    outline: 1px dashed white;
  }

  & > div:hover {
    background-color: white;
  }
}

#computer-grid {
    margin-bottom: 60px;
}