@font-face {
    font-family: "title-font";
    src:
      url("../assets/title.woff2") format("woff2"),
      url("../assets/title.woff") format("woff");
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    // gap: 10px;
    & > div:first-child {
        font-family: "title-font";
        font-size: 32px;
    }
}

.title {
    font-size: 2em;
    font-weight: 700;
    margin-right: 10px;
}

.lowpal-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    opacity: 0.7;
    svg {
        margin-right: 5px;
    }
}

.buttons {
    margin-left: auto;
}