@font-face {
    font-family: "title-font";
    src:
      url("../assets/title.woff2") format("woff2"),
      url("../assets/title.woff") format("woff");
}

.header {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > div:first-child {
        font-family: "title-font";
        font-size: 32px;
    }
}

.lowpal-wrapper {
    display: flex;
    gap: 10px;
    & > div {
        font-family: "title-font";
        font-size: 18px;
    }
}

.buttons {
    align-self: flex-end;
}


// #git-icon{
//     transition: transform .5s ease-in-out;
//     background-color: black;
//     color:rgb(56, 218, 230);;
//     border-radius: 50%;
//     box-shadow: 1px 1px 4px rgb(0, 0, 0);
//     text-decoration: none;
// }

// #git-icon > svg:hover{
//     transform: rotate(360deg);
// }