.left {
    grid-area: 2 / 1 / 3 / 2;
}

.right {
    grid-area: 2 / 2 / 3 / 3;
}

#left,
#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    & > div:first-child {
        font-size: 30px;
    }
}

#player-grid,
#computer-grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    & > div {
        height: 50px;
        width: 50px;
        border: 1px solid white;
    }
    & > div:hover {
        background-color: white;
    }
}

@media only screen and (max-width: 1050px) {
    #player-grid,
    #computer-grid {
        grid-template-columns: repeat(10, 45px);
        grid-template-rows: repeat(10, 45px);
        & > div {
            height: 45px;
            width: 45px;
        }
    }
}

@media only screen and (max-width: 500px) {
    #player-grid,
    #computer-grid {
        grid-template-columns: repeat(10, 40px);
        grid-template-rows: repeat(10, 40px);
        & > div {
            height: 40px;
            width: 40px;
        }
    }
}

@media only screen and (max-width: 450px) {
    #player-grid,
    #computer-grid {
        grid-template-columns: repeat(10, 35px);
        grid-template-rows: repeat(10, 35px);
        & > div {
            height: 35px;
            width: 35px;
        }
    }
}