@use "header";
@use "footer";
@use "game";


body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom right, #222d39, #406283);
  color: #ecf0f1;
  transition: background 0.5s ease-in-out;
}

button {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;

    &:hover {
        background-color: #2980b9;
    }
}

@media only screen and (max-width: 950px) {
  .header {
      display: flex;
      flex-direction: column;
  }
}